@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Syne:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #C4F125; 
    --cor-secundaria: #FFA2FD;
    --cor-terciaria: #03484F;
    --cor-de-fundo: #FFFEEC;
    --cor-do-texto: #000000;

    --fonte-principal: 'Syne', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.3em 0;
    border-color:var(--cor-do-texto);
    border-bottom: 1px solid;
}

.cabecalho__imagem-logo {
    height: 2em;
}

.cabecalho__img-carrinho {
    float: right;
}
.cabecalho__menu {
    gap: 10em;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cabecalho__menu-link {
    font-weight: 700;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 1.125em;
}

.cabecalho__menu-link:hover {
    color: var(--cor-de-fundo);
    transition: 0.3s;

}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    background-image: url("../assets/images/banner-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items:center;
}

.container__botao-cta {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor-primaria);
    font-size: 1.5em;
    border-radius: 8px;
    border-color:var(--cor-do-texto);
    border: 2px solid;
    padding: 0.75em;
    font-family: var(--fonte-texto);
    font-weight: 800;
    color: var(--cor-do-texto);
}

.container__botao-secundario {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.125em;
    border-radius: 0.5em;
    border-color: var(--cor-do-texto);
    border: 2px solid;
    padding: 0.6em;
    color: var(--cor-do-texto);
    font-family: var(--fonte-texto);
    font-weight: 700;
}

.container__aviso {
    font-size: 0.875em;
    margin-top: 1em;
    font-family: var(--fonte-texto);
}

.container__titulo {
    font-weight: 800;
    font-size: 2em;
    font-family: var(--fonte-principal);
    margin: 1em 0;
    
}

.container__imagem-logo {
    height: 8.5em;
}

.container__caixa {
    margin: 4em 6em;
}

.container__subtitulo {
    margin: 1em 0 1.5em 0;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    align-items: center;
}

.container-secundario {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    /* background-image: url("../assets/images/banner-principal.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items:center;
}

.container-secundario__img2 {
   width: 60%;
   border: var(--cor-primaria) 16px solid;
}


.rodape {
    background-color: #e4e2e4;
    padding: 2.75em;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 0.75em;
}